<h1>Find out if your triangle is legit!</h1>

<form action="/results">
  <div class="form-group">
    <label for="SideA">Side A of your triangle</label>
    <input id="SideA" name="SideA" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="SideB">Side B of your triangle</label>
    <input id="SideB" name="SideB" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="SideC">Side C of your triangle</label>
    <input id="SideC" name="SideC" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-lg btn-warning">Check</button>
</form>
